table {
  width: 100%;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-container {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.button-padding {
  margin: 0.5rem;
}
